.ldsRing {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.ldsRing div {
  border: solid 1px #000;
  position: absolute;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  animation: lds-ring 4s infinite;
}

.ldsRing > div {
  border: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.ldsRing > div > div {
  animation: 16s steps(4, start) infinite lds-ring-root;
  animation-delay: -0.5s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@keyframes lds-ring-root {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    left: 10%;
    right: 30%;
    top: 10%;
    bottom: 30%;
  }
  12.5% {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 30%;
  }
  25% {
    left: 30%;
    right: 10%;
    top: 10%;
    bottom: 30%;
  }
  37.5% {
    left: 30%;
    right: 10%;
    top: 10%;
    bottom: 10%;
  }
  50% {
    left: 30%;
    right: 10%;
    top: 30%;
    bottom: 10%;
  }
  62.5% {
    left: 10%;
    right: 10%;
    top: 30%;
    bottom: 10%;
  }
  75% {
    left: 10%;
    right: 30%;
    top: 30%;
    bottom: 10%;
  }
  87.5% {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
  }
  100% {
    left: 10%;
    right: 30%;
    top: 10%;
    bottom: 30%;
  }
}
